.tg{
    border-top: solid;
    border-top-width: 1px;
    width:100%;
}
.tgborder{
    
    border:solid;
    border-color:slategray;
    border-width: 1px;
    border-top: solid;
    border-top-width: 1px;
    width:100%;
}
.trTopBorder{
    border-top:slategray;
    border-top-width: 0.5px;
}
.div1{
    display:flex;
    flex:column;
}
.divButton{
    margin-left:auto;
}
.textarea{ 
    width:500px;
    height:100px;
    resize:none;
    /* 크기고정 */  /*   resize: horizontal; // 가로크기만 조절가능  resize: vertical;  세로크기만 조절가능  */ 
}

.divBottom {
    border-bottom-color: aliceblue;
    border-bottom: 1px;
}
.answerContent{
    background-size: 50%;
    background-color:snow;


}
.answerContentMargin{
    width:10px;
}