#hd { width: 100%; }
#hd .head {}

.contents { width: 1200px; margin: 0 auto; }

.prod_info { overflow: hidden; }
.prod_info .prd_img { float: left; }
.prod_info .prd_info { float: right; }


.gnb { }
.gnb > ul {}
.gnb > ul > li { float: left; margin-left: 30px; }
.gnb > ul > li:first-child { margin-left: 0px;}
.gnb > ul > li > a { display: inline-block; font-size: 17px; font-family: 'NanumSquare'; font-weight: 600; color: #222222;}
.gnb > ul > li > a:hover,.gnb > ul > li > a.active,.gnb > ul > li > a.active2 { color: #265ec7; }
.gnb > ul > li > ul {display: none; position: absolute; z-index: 2003; top: 80px; padding: 20px 0px 20px 10px; width: 140px; height: 225px; margin-left: -20px; background: #fff url(../images/bg/bg-gnb-line.png) no-repeat left center; border-top: 2px solid #2064bf; }
.gnb > ul > li > ul > li { margin-top: 10px;  }
.gnb > ul > li > ul > li:first-child { margin-top: 5px; }
.gnb > ul > li > ul > li > a { display: inline-block; height: 20px; font-size: 14px; color: #666;}
.gnb > ul > li > ul > li > a:hover,.gnb > ul > li > ul > li > a:focus { color: #275dc7; border-bottom: 1px solid #275dc7;}


.btn-prd { margin-top: 15px; }
.btn-prd a { display: inline-block; font-size: 16px; color: #fff; height: 55px; line-height: 55px; text-align: center;  }
.btn-prd a.btn-buy {width: 250px; background: #ff600f; }
.btn-prd a.btn-cart { margin-left: 5px; width: 130px; background: #282828; }


.prd-info { overflow: hidden; }
.prd-info .prd-img { width: 550px; float: left: }
.prd-info .prd-info2 { width: 550px; float: right; }