
.Login {
  background-color: white;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.LoginForm {
  background-color: white;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -webkit-box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 3);
  box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 3); */
  max-width: 700px;
}
/*
.LoginForm .top {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dce8f1;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.LoginForm .bottom {
  background-color: #e6e6e6;
  border-top: 1px solid #dce8f1;
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.LoginForm form {
  display: white;
  padding: 16px;
  text-align: center;
}
.LoginForm input[type=text] {
  background-color: #e6e6e6;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  width: 70%;
}
.LoginForm input[type=password] {
  background-color: #e6e6e6;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  width: 85%;
}
.LoginForm input[type=submit] {
  background-color: #56baed;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0px 10px 30px 0 rgba(95, 186, 234, 0.4);
  box-shadow: 0px 10px 30px 0 rgba(95, 186, 234, 0.4);
  color: white;
  display: inline-block;
  margin: 16px;
  padding: 8px 80px;
  text-align: center;
  text-decoration: none;
}
쓰지 않는 부분*/




/* 적용되는 부분 */
.col-form-label {
  text-align: right;
}
/* 
.Signup {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 460px;
}
.SignupForm {
  background-color: white;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 3);
  box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 3);
}
.SignupForm .header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dce8f1;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.SignupForm .footer {
  background-color: #e6e6e6;
  border-top: 1px solid #dce8f1;
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.SignupForm form {
  display: block;
  margin: 16px;
  padding: 16px;
}
.SignupForm button[type] {
  width: 100%;
}  */
/* 
body{
  font-family:calibri;
  padding:0;
  margin:0;
  margin:0;
  padding:0;
  background-color:whitesmoke;
}
.SignupBox{
 margin:1% auto 0% auto;
 padding:1px 60px 20px 60px;
 width:50%;
 height:70%;
 box-sizing:border-box;
 background: silver
}
h2{
  margin:0;
  padding:0 0 20px;
  text-align:center;
  color:white;
 
 }
.SignupBox p{
 margin:0;
 padding:0;
 font-weight:bold;
 color:#fff;
}
.SignupBox input{
 width:100%;
 height:20px;
 margin:0 0 20px 0;
}
.SignupBox input[type="text"],
.SignupBox input[type="password"],
.SignupBox input[type="email"],
.SignupBox input[type="date"]{
 border:none;
 border-bottom:1px solid #fff;
 background:transparent;
 outline:none;
 color:#fff;
 font-size:14px;
 text-align:center;
}
::placeholder{
 color: white;
 opacity:0.1;
 text-align:center;
}
.SignupBox input[type="submit"]{
 border:1px solid;
 height:40px;
 color:white;
 background-color:transparent;
}
.SignupBox input[type="submit"]:hover{
 color:pink;
 border:2px solid;
}
form a{
  color:whitesmoke;
  text-decoration:none;
 } */



form {
  padding-left: 1em;
}

::placeholder{
  color: black;
  opacity:1;
  text-align:left;
 }

 .form-control{
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

 }
 .form-controlID{
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }
 .form-controlPWD{
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }
 .background{
  background-image:url(http://localhost:3000/image/loginBackground.png)
 }